/* main for Charlie */
<html>
<style type="text/css">
img {align-items: center}
.button {
    border-top-width: 50px;
    font-family: avenir,sans-serif;
  display: inline-block;
  border-radius: 4px;;
  border: none;
  color: black;
  text-align: center;
  font-size: 8px;
  width:100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 9px;
  float:right;
}
.button {
    background-color: white;
    color: black;
    float: bottom;
}

.button:hover {background-color: #F6D0B1;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '<';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.wrapper{
    display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
background-color: seashell;
border-radius: 5px;}
.basic{
    background-image: url(img/basic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 15px;
}
body 
     {margin: 2rem;
         font-family: avenir,sans-serif;
      font-weight: lighter;
      color: dimgrey;
      background-color: white;
      }
h1 
     { font-family: Avenir,sans-serif;
         font-size: 21pt;
         background-color: #638475;
    color: snow;
    border-radius: 25px 5px 25px 25px; 
    width:auto;
    height: 40px;    
}
h2 
      {font-family: Avenir,sans-serif;
          color: black}
h3{font-family: avenir,sans-serif}
.img
.table {float: inherit}
</style>
</head>
</body>
</html>