/* xxx for Charlies-cafe */
<html>
<head>
<style type="text/css"
.section1{align-items: center}
body 
     {font-family: Futura,sans-serif;
     color: darkgrey}
body 
     {font-family: futura,sans-serif;
      font-weight: lighter;
      color: darkgrey;
      background-color: floralwhite;
      border: 50px solid white ;
      padding: 35px;
      }
h1 
     {background-color: #D0E6A5;
    color: darkslategrey;
}
h2 
      {color: dimgrey}
</style>
</head>
</body>
</html>
