/* main for Charlie */
<html>
<style type="text/css"
{}{}
body 
     {font-family: chalkboard,sans-serif;
      font-weight: lighter;
      color: darkgrey;
      background-color: white;
      text-align: center;
      }
h1 
     {background-color: #D0E6A5;
    color: darkslategrey;
}
h2 
      {color: dimgrey}
</style>
</head>
</body>
</html>